html,body {
width:100%;
height:100%;
margin:0px;
padding:0px;
}
body{
	background: #515151;
	font:"Microsoft YaHei", "Helvetica", sans-serif;
	font-family: 'Microsoft YaHei', Helvetica, sans-serif;
	font-size: 0.75em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5;
}
header{
	min-width: 430px;

}
#menubar{
background-color:#515151;
height:8%;

/*position:fixed;*/
top:0px;
z-index:2;
min-width: 100%;
}
#footer{
background-color:#515151;
height:8%;
position:fixed;
bottom:0px;
width:100%;
text-align:center;
z-index:2;
overflow:hidden;
}
#vertical_middle{
	height:84%;
	width: 100%;
	min-width: 430px;
	/*position:fixed;
	top:0px;*/
}
#aside{
	background-color:rgb(231,229,228);
	height:600px;
	/*width:17%;*/
	float:left;
	top:50px;
	border-right:solid 1px rgb(187,188,186);
	overflow:scroll;
	min-width: 200px;
}

#middle{
	background-color:rgb(247,247,245);
	height:600px;
	/*width:25%;*/
	float:left;
	top:50px;
	border-right:solid 1px rgb(187,188,186);
	overflow:scroll;
	min-width: 280px;
}
#allnote{
	background-color:rgb(250,250,250);
	height:40px;
	font-size:20px;
	border-bottom:solid 1px rgb(187,188,186);
}
.node{
	background-color:rgb(231,229,228);
	height:40px;
	font-size:20px;
	border-bottom:solid 1px rgb(187,188,186);
	border-left:solid 1px rgb(187,188,186);
	border-right:solid 1px rgb(187,188,186);
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	border-radius:10px;
}
.node:hover{
	background-color:rgb(244,244,242);
	cursor:pointer;
}
.newnode{
	background-color:rgb(231,229,228);
	height:40px;
	font-size:15px;
	border-bottom:solid 1px rgb(187,188,186);
	text-overflow:ellipsis;

}
.newnode:hover{
	background-color:rgb(244,244,242);
	cursor:pointer;
}
.list_content{
	padding-left:10px;
	padding-top:10px;
}
.icon_name{
	padding-left:10px;
	word-wrap:break-word;
	text-overflow:ellipsis;
}
.outline{
	background-color:rgb(247,247,245);
	height:80px;
	border-bottom:solid 1px rgb(187,188,186);
	text-overflow:ellipsis;
}
.outline:hover{
	background-color:rgb(254,254,254);
	cursor:pointer;
}

.outline h3{
	padding-left:10px;
	padding-top:10px;
}
.outline_content{
	height:50px;
	padding-left:10px;
	padding-top:2px;
	color:rgb(97,97,97);
	text-overflow:ellipsis;
}
.article_search{
	padding:10px;
}
#title{
	height:60px;
	width:100%;
	background:rgb(244,244,242);
	border-bottom:solid 1px rgb(187,188,186);
}
#editor{
	/*margin-left:42%;
	;*/
	width:50%
	height:600px;
	background:rgb(255,255,255);
	right:0px;
}
#start_edit{
	padding-top:3px;
	cursor:pointer;
	text-align:center;
	min-width: 74px;
	margin-top: 10px;
}
#start_edit:hover{
	color: white;
	border-radius: 5px;
	background:rgb(51,51,51);
}
#title input{
	height:40px;
	margin-top:5px;
	margin-left:30px;
	width:400px;
	float:left;
	font-size:20px;
	min-width: 250px;
	
}
input[disabled]{
	border:opx;
	background:rgb(244,244,242);
	cursor:auto;
}
.article_search .form-search{
	background:rgb(51,51,51);
}
#toolsbar{
	height:45px;
	width:100%;
	background:rgb(244,244,242);
	margin-top:0px;
	border-bottom:solid 1px rgb(187,188,186);
	min-width: 381px;

}
.icon_circle{
	height:35px;
	width:35px;
	margin-top:6px;
	margin-left:20px;
	float:left;
	background:#515151;
	text-align:center;
	border-radius:17px;
	cursor:pointer;
}
.icon_circle:hover{
	height:40px;
	width:40px;
	margin-top:3px;
	border-radius:20px;

}

.icon_circle_white{
	height:35px;
	width:35px;
	margin-top:10px;
	padding-left: 0px;
	float:left;
	background:rgb(255,255,255);
	text-align:center;
	border-radius:17px;
	cursor:pointer;
}
.icon_circle_white:hover{
	height:40px;
	width:40px;
	margin-top:3px;
	border-radius:20px;

}

#toolsbar i{
	margin-top:10px;
}
#menubar i{
	margin-top:10px;
}


#editor_content{
	max-height: 480px;
	height: 480px;
	background-color: white;
	border-collapse: separate;
	border: 1px solid rgb(204, 204, 204);
	padding: 4px;
	box-sizing: content-box;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	outline: none;
	font-size: 20px;
}
#editor_title{
	max-height: 40px;
	height: 40px;
	width: 400px;
	background-color: white;
	border-collapse: separate;
	border: 1px solid rgb(204, 204, 204);
	padding: 4px;
	box-sizing: content-box;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	outline: none;
	margin-top:5px;
	margin-left:30px;
	/*width:400px;*/
	float:left;
	font-size:20px;
	overflow:hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;

}
#start_edit #edit{
	font-size:20px;
	margin-left:5px;
}

body > .row-fluid > [class*="span"]{
	margin-left:0px;
}