QPushButton{
	min-width: 30px;
	min-height: 30px;
	color:black;
	border-image:url(asset/image/rub.png);
}
QPushButton:hover{
	border-image:url(asset/image/rubpressed.png);
}
QPushButton:pressed{
	border-image:url(asset/image/rubpressed.png);
}