<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>tNotes</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/tNotes.css">
</head>
<body>


    <!-- 导航栏 -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">tNotes</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#"><span class="glyphicon glyphicon-cloud-upload"></span> 同步</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#settingModal"><span class="glyphicon glyphicon-cog"></span> 设置</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="关键词">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </div>
    <div id="settingModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="settingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="settingModalLabel" class="modal-title">设置</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <a id="setting-confirm-btn" href="#deleteNote" type="button" class="btn btn-primary" data-dismiss="modal">更改</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">


        <!-- 提示 -->
        <div id="hint" class="alert display-none">
          <button type="button" class="close">×</button>
          <h4 id="hint-title"></h4>
          <p id="hint-content"></p>
        </div>


        <div class="row">


            <!-- 文件夹 -->
            <div id="folder" class="col-lg-2">
                <div class="list-group">
                    <a href="#" class="list-group-item" data-toggle="modal" data-target="#newFolderModal"><span class="glyphicon glyphicon-plus"></span> 新建分类</a>
                    <a id="delete-folder-btn" href="#" class="list-group-item disabled" data-target="#deleteFolderModal"><span class="glyphicon glyphicon-remove"></span> 删除分类</a>
                </div>
                <div id="folder-list" class="list-group"></div>
                <div id="newFolderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newFolderModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 id="newFolderModalLabel" class="modal-title">新建分类</h4>
                            </div>
                            <div class="modal-body">
                                <input id="new-folder-name" class="form-control" type="text" placeholder="分类名" />
                            </div>
                            <div class="modal-footer">
                                <button id="new-folder-confirm-btn" type="button" class="btn btn-primary" data-dismiss="modal">新建</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="deleteFolderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteFolderModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 id="deleteFolderModalLabel" class="modal-title">删除分类</h4>
                            </div>
                            <div class="modal-body">
                                <p class="text-danger">删除分类将会同时删除其下的所有笔记，确定要删除吗？</p>
                            </div>
                            <div class="modal-footer">
                                <a id="delete-folder-confirm-btn" href="#deleteFolder" class="btn btn-primary">删除</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script id="folder-template" type="text/template">
                <% _.each(folders, function (folder) { %>
                    <a href="#folder/<%= folder.id %>" class="list-group-item folder" data-id="<%= folder.id %>">
                        <span class="badge"><%= folder.notes.length %></span>
                        <span class="glyphicon glyphicon-book"></span> <%= folder.name %>
                    </a>
                <% }) %>
            </script>


            <!-- 笔记 -->
            <div id="note" class="col-lg-2">
                <div class="list-group">
                    <a id="new-note-btn" href="#newNote" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> 新笔记</a>
                </div>
                <div id="note-list" class="list-group"></div>
            </div>
            <script id="note-template" type="text/template" >
                <% _.each(notes, function (note) { %>
                    <a href="#note/<%= note.id %>" class="list-group-item note" data-id="<%= note.id %>">
                        <span class="glyphicon glyphicon-file"></span> <%= note.title %>
                    </a>
                <% }) %>
            </script>


            <!-- 查看编辑区 -->
            <div id="content" class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div id="note-title"></div>
                            <div class="controls">
                                <a id="save-btn" class="disabled" href="#saveNote"><span class="glyphicon glyphicon-save"></span> 保存</a>
                                <a id="edit-btn" class="disabled" href="#editNote"><span class="glyphicon glyphicon-pencil"></span> 编辑</a>
                                <a id="delete-btn" class="disabled" href="#" data-target="#deleteNoteModal"><span class="glyphicon glyphicon-trash"></span> 删除</a>
                                <a id="export-btn" class="disabled" href="#" download="tNotes.md"><span class="glyphicon glyphicon-export"></span> 导出</a>
                                <a id="expand-btn" href="#expandContentViewer"><span class="glyphicon glyphicon-resize-full"></span> 展开</a>
                                <a href="#" data-toggle="modal" data-target="#changeStyleModal"><span class="glyphicon glyphicon-eye-open"></span> 样式</a>
                            </div>
                        </div>
                    </div>
                    <div id="note-content" class="panel-body bright"></div>
                </div>
                <div id="deleteNoteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteNoteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 id="deleteNoteModalLabel" class="modal-title">删除笔记</h4>
                            </div>
                            <div class="modal-body">
                                <p class="text-danger">删除笔记后将不可恢复，确定要删除吗？</p>
                            </div>
                            <div class="modal-footer">
                                <a id="delete-note-confirm-btn" href="#deleteNote" class="btn btn-primary">删除</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="changeStyleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changeStyleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 id="changeStyleModalLabel" class="modal-title">更改样式</h4>
                            </div>
                            <div class="modal-body">
                                <img class="img-thumbnail change-style" src="img/style-default.jpg" data-style="default" data-dismiss="modal" />
                                <img class="img-thumbnail change-style" src="img/style-bright.jpg" data-style="bright" data-dismiss="modal" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>


    <!-- Js文件 -->
    <script src="js/lib.js"></script>
    <script data-main="js/tNotes" src="js/require.js"></script>
</body>
</html>