/* tag */
body
{
    padding-top: 60px;

    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6
{
    text-shadow: none;
}

/* 滚动条 */
::-webkit-scrollbar-thumb
{
    height: 50px;

    background-color: #3e444c;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #f89406;
}

::-webkit-scrollbar
{
    width: 10px;

    background-color: #a7a7a7;
}

/* class */
.disabled
{
    opacity: .5;
}

.display-none
{
    display: none;
}

.row
{
    position: relative;
    top: 0;
    left: 0;
}
