body {
    background-image: url('../img/bg.png');
    background-attachment: fixed;
    padding-top: 60px;
}

.change-style {
    opacity: 0.5;
    cursor: pointer;
    margin-bottom: 10px;
}

.change-style:hover {
    opacity: 1;
    border-color: #f89406;
}

.disabled {
    opacity: 0.5;
}

.display-none {
    display: none;
}

.list-group-item.active {
    background-color: #f89406 !important;
}

.modal-title {
    color: #f89406;
}

.navbar {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.navbar:hover {
    opacity: 1;
}

.panel-title .controls
{
    display: block;
    font-size: 12px;

    padding: 3px 10px;

    background-color: #3e444c;
    margin-top: 5px;
    border-top: 1px solid rgba(0,0,0,0.6);
}

.panel-title .controls a {
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
    color: #c8c8c8;
}

.panel-title .controls a:hover {
    color: #f89406;
}

.panel-title .controls a.disabled:hover {
    color: #c8c8c8;
}

.row {
    position: relative;
    left: 0;
    top: 0;
}

#content .panel-heading {
    padding: 0;
}

#content.fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#note-title {
    min-height: 18px;
    padding: 5px 15px 2px 15px;
    display: block;
    font-size: 25px;
}

#note-content {
    min-height: 55px;
    font-size: 18px;
}

/* 滚动条 */
::-webkit-scrollbar-thumb{
   background-color: #3e444c;  
   height: 50px;
}  

::-webkit-scrollbar-thumb:hover{
   background-color: #f89406;  
}  
 
::-webkit-scrollbar {
   width: 10px;
   background-color: #a7a7a7;
}

/* 显示样式 */
#note-content.default {
    background-color: #3e444c;
}

#note-content.default h1,
#note-content.default h2,
#note-content.default h3,
#note-content.default h4,
#note-content.default h5,
#note-content.default a,
#note-content.default em,
#note-content.default pre,
#note-content.default code {
    color: #f89406;
}

#note-content.default blockquote {
    border-left-color: #f89406;
}

#note-content.default pre {
    background-color: transparent;
}

#note-content.bright {
    background-color: #fff;
    color: #000;
}

#note-content.bright h1,
#note-content.bright h2,
#note-content.bright h3,
#note-content.bright h4,
#note-content.bright h5,
#note-content.bright a,
#note-content.bright em,
#note-content.bright pre,
#note-content.bright code {
    color: #62c462;
}

#note-content.bright blockquote {
    border-left-color: #62c462;
}

#note-content.bright pre {
    background-color: transparent;
}