QPushButton{
	min-width: 25px;
	min-height: 25px;
	max-width: 25px;
	max-height: 25px;
	color:black;
	border-image:url(:/myres/sys.png);
}
QPushButton:hover{
	border-image:url(:/myres/syshover.png);
}
QPushButton:pressed{
	border-image:url(:/myres/sys.png);
}