QPushButton{
	min-width: 30px;
	min-height: 30px;
	color:black;
	border-image:url(:/myres/sys.png);
}
QPushButton:hover{
    -moz-transform:rotate(90deg);
	border-image:url(:/myres/sys.png);
}
QPushButton:pressed{
	border-image:url(:/myres/sys.png);
}