#bgModal .change-bg {
    margin-bottom: 10px;
    cursor: pointer;
    opacity: .5;
    width: 211px;
}

#bgModal .change-bg:hover {
    opacity: 1;
}

/* 橙黑主题 */
.bs-black .list-group-item.active,
.bs-black .list-group-item.active:hover {
    background-color: #f89406;
}

/* 蓝白主题 */
body.bs-bright {
    background-color: #fff;
}

.bs-bright a.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555555;
}

.bs-bright a.list-group-item:hover,
.bs-bright a.list-group-item:focus {
    background-color: #f5f5f5;
}

.bs-bright a.list-group-item.active {
    background-color: #2fa4e7;
    color: #fff;
    border: 1px solid #2fa4e7;
}

.bs-bright h1,
.bs-bright h2,
.bs-bright h3,
.bs-bright h4,
.bs-bright h5,
.bs-bright h6 {
    color: #317eac;
}

.bs-bright table {
    background-color: #fff;
}

.bs-bright .navbar {
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
}

.bs-bright .btn-default {
    border: 1px solid #e6e6e6;
}

.bs-bright .btn-default,
.bs-bright .btn-default:hover,
.bs-bright .btn-default:active,
.bs-bright .btn-default:focus {
    color: #555;
    background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
}

.bs-bright .btn-primary {
    border: 1px solid #e6e6e6;
}

.bs-bright .btn-primary,
.bs-bright .btn-primary:hover,
.bs-bright .btn-primary:active,
.bs-bright .btn-primary:focus {
    color: #fff;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
}

.bs-bright #navbar .dropdown > a {
    background-color: transparent !important;
}

.bs-bright #navbar .open > a {
    background-color: #178acc !important;
}

.bs-bright .dropdown-menu {
    background-color: #fff;
}

.bs-bright .dropdown-menu>li>a {
    color: #555;
    text-shadow: none;
}

.bs-bright .dropdown-menu>li>a:hover {
    background-color: #2fa4e7;
    color: #fff;
}

.bs-bright .input-group-addon {
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    border: 1px solid #e6e6e6;
    border-left: none;
}

.bs-bright .modal-content {
    background-color: #fff;
}

.bs-bright .modal-footer {
    border-top: 1px solid #e5e5e5;
}

.bs-bright .modal-header {
    border-bottom: 1px solid #e5e5e5;
}

.bs-bright .navbar {
    border: none;
}

.bs-bright .navbar-default .navbar-brand {
    color: #fff;
}

.bs-bright .navbar-default .navbar-nav > li > a {
    color: #fff;
}

.bs-bright .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #178acc;
    background-image: none;
}

.bs-bright .panel-footer {
    background-color: #2fa4e7;
    color: #fff;
    border-color: #e5e5e5;
}

.bs-bright .panel-primary {
    border-color: #dddddd;
}

.bs-bright .panel-primary > .panel-heading {
    color: #555555;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.bs-bright .popover {
    background-color: #2fa4e7;
}

.bs-bright .popover.top > .arrow:after {
    border-top-color: #2fa4e7;
}

.bs-bright .table {
    color: #555;
}

.bs-bright .table-striped>tbody>tr:nth-child(odd)>td,
.bs-bright .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

.bs-bright .table-hover>tbody>tr:hover>td,
.bs-bright .table-hover>tbody>tr:hover>th {
    background-color: #f9f9f9;
}

.bs-bright .table>thead>tr>th,
.bs-bright .table>tbody>tr>th,
.bs-bright .table>tfoot>tr>th,
.bs-bright .table>thead>tr>td,
.bs-bright .table>tbody>tr>td, 
.bs-bright table>tfoot>tr>td {
    border-top: 1px solid #ddd;
}

.bs-bright #assist-btns {
    background-color: #2fa4e7;
}

.bs-bright #content .panel-title .controls {
    background-color: #fff;
    border-color: #e5e5e5;
}

.bs-bright #content .panel-title .controls a {
    color: #555555;
}

.bs-bright #content .panel-title .controls a:hover {
    color: #2fa4e7;
}